
<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card>
    <nb-card-body>
<div class='app'>
  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar
      #calendar
      [defaultView]="defaultView"
      [header]="header"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
    ></full-calendar>
  </div>

</div>
</nb-card-body>
</nb-card>