<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-pencil-square-o"></i> Employees <button class="btn btn-link" (click)="infoModal.show()"><i
              class="icon-info"></i></button>
          <div class="card-header-actions">
            <button (click)="onSubmit()" class="btn btn-sm btn-primary" type="submit">
              <i class="fa fa-dot-circle-o"></i> Submit</button>
            <button class="btn btn-sm btn-danger" type="reset" (click)="onReset()">
              <i class="fa fa-ban"></i> Cancel</button>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="obs$ | async as data; else loading" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="hidden" formControlName="_id" class="form-control" />
                  <label>First Name</label>
                  <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.exist">Email already exist</div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-map"></i> Select group for this user
                  </div>
                  <div class="card-body">
                    <div class="list-group">
                      <mat-nav-list>
                        <mat-selection-list #groups formControlName="groups" (selectionChange)="groupSelected(groups,$event)">
                          <mat-list-option *ngFor="let option of data.groups" [value]="option._id">
                            {{option.name}}
                          </mat-list-option>
                        </mat-selection-list>
                      </mat-nav-list>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-settings"></i> Configuration
                    <div class="card-header-actions">
                      <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button"
                          class="btn-min btn btn-block btn-link dropdown-toggle" aria-controls="dropdown-basic">
                          <i class="fa fa-align-justify"></i> <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                          aria-labelledby="button-basic">
                          <li *ngIf="f.isLinked.value==false" role="menuitem">
                            <span class="dropdown-item" (click)="f.linkCode.setValue(makeCode())" href="#">Reset link
                              number</span></li>
                           <li *ngIf="f.isLinked.value==true"> <span class="dropdown-item" (click)="dangerModal.show()" href="#">Unlink device</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="card-body">
                    <div *ngIf="f.isLinked.value==false else unlinked">
                      <p>No existe un dispositivo vinculado a esta cuenta</p>
                      El numero de vinculacion es el <span class="h1">{{f.linkCode.value}}</span>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-settings"></i> Custom Activities<button class="btn btn-link"
                      (click)="customModal.show()"><i class="icon-info"></i></button>
                  </div>
                  <div class="card-body">
                    <input type="hidden" #mainActivity formControlName="mainActivity" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.mainActivity.errors }" />
                    <div *ngIf="submitted && f.mainActivity.errors" class="invalid-feedback">
                      <div *ngIf="f.mainActivity.errors.required">Main activity is required</div>
                    </div>
                    <input type="hidden" #customActivities formControlName="customActivities" class="form-control" />
                    <div *ngIf="groups.ngAfterContentInit">
                      <ng-container *ngFor="let option of groups.selectedOptions.selected">
                        <div class="row">
                          <span (click)="setOption('mainActivity',{'_id':option.value,'type':'group'},true)">
                            <div *ngIf="getOption(option.value,'mainActivity'); let element; else neutral">
                              <span class="checkbox tricheck favorite"></span>
                            </div>
                          </span>
                          <div (click)="switchTriStatus(option.value,'customActivities')">
                            <div *ngIf="getOption(option.value,'customActivities'); let element; else neutral">
                              <span class="checkbox tricheck"
                                [ngClass]="{'positive':element.status=='allow','negative':element.status=='deny'}"></span>
                            </div>
                          </div>
                          <span class="label"> {{option._text.nativeElement.innerText}}</span>
                        </div>
                      </ng-container>
                    </div>
                    <ng-container *ngFor="let option of data.activities;">
                      <div class="row">
                        <div (click)="setOption('mainActivity',{'_id':option._id,'type':'activity'},true)">
                          <div *ngIf="getOption(option._id,'mainActivity'); let element; else neutral">
                            <span class="checkbox tricheck favorite"></span>
                          </div>
                        </div>
                        <div (click)="switchTriStatus(option._id,'customActivities')">
                          <div *ngIf="getOption(option._id,'customActivities'); let element; else neutral">
                            <span class="checkbox tricheck"
                              [ngClass]="{'positive':element.status=='allow','negative':element.status=='deny'}"></span>
                          </div>
                        </div>
                        <span class="label">{{option.name}}</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Information about services</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
      <div class="modal-custom">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #customModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Information about services</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
<ng-template #unlinked>
 Ya existe un dispositivo vinculado a esta cuenta
</ng-template>
<ng-template #loading>
  Loading User...
</ng-template>
<ng-template #neutral>
  <span class="checkbox tricheck"></span>
</ng-template>
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete element</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Close</button>
        <button type="button" class="btn btn-danger"
          (click)="f.isLinked.setValue(false);dangerModal.hide()">Yes</button>
      </div>
    </div>
  </div>
</div>