<nb-card>
  <nb-card-header>
    Employee Profile
  </nb-card-header>

  <nb-card>
    <nb-card-body>

      <mat-tab-group>
        <mat-tab label="First"> <employees-calendar></employees-calendar> </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>


    </nb-card-body>
  </nb-card>