<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div  *ngIf="obs$ | async as data; else loading" class="card-group">
            <div class="card p-4">
              <div class="card-body"> 
                <button *ngFor="let option of data.user._company"  (click)="selectCompany(option)" type="button" class="btn btn-primary active mt-3">Company1</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<ng-template #loading>
  Loading activity...
</ng-template>