<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <groups-list></groups-list>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <activities-list></activities-list>
    </div>
    <div class="col-sm-6 col-lg-6">
      <locations-list></locations-list>
    </div>
  </div>
</div>