<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-pencil-square-o"></i> Activities <button class="btn btn-link" (click)="infoModal.show()"><i
              class="icon-info"></i></button>
          <div class="card-header-actions">
            <button (click)="onSubmit()" class="btn btn-sm btn-primary" type="submit">
              <i class="fa fa-dot-circle-o"></i> Submit</button>
            <button class="btn btn-sm btn-danger" type="reset" (click)="onReset()">
              <i class="fa fa-ban"></i> Cancel</button>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="obs$ | async as data; else loading" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-col">
                  <div class="form-group">
                    <input type="hidden" formControlName="_id" class="form-control" />
                    <input type="hidden" formControlName="locations" class="form-control" />
                    <label>Name</label>
                    <input type="text" formControlName="name" class="form-control"
                      [ngClass]="{ 'is-invalid': (submitted && f.name.errors) || (f.name.errors && f.name.errors.exist)}" />
                    <div *ngIf="f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                      <div *ngIf="f.name.errors.exist">Name already exist</div>
                    </div>
                  </div>
                  <mat-nav-list class="list-horizontal form-group">
                    <label class="form-col-form-label">Days</label>
                    <mat-selection-list #days formControlName="days">
                      <mat-list-option *ngFor="let option of daysWeek" [value]="option._id">
                        {{option.name}}
                      </mat-list-option>
                    </mat-selection-list>
                  </mat-nav-list>
                  <div class="form-group">
                    <label>Start time</label>
                    <mat-form-group class="form-row align-items-center">
                      <div class="col-4">
                        <label class="sr-only" for="startFrom">From</label>
                        <div class="input-group mb-1 mr-sm-1">
                          <div class="input-group-prepend">
                            <div class="input-group-text">From</div>
                          </div>
                          <input class="form-control" matInput placeholder="" formControlName="startFrom"
                            [ngxTimepicker]="startFrom">
                        </div>
                        <ngx-material-timepicker #startFrom [appendToInput]="true"></ngx-material-timepicker>
                      </div>
                      <div class="col-4">
                        <label class="sr-only" for="startTo">to</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">To</div>
                          </div>
                          <input class="form-control" matInput placeholder="" formControlName="startTo"
                            [ngxTimepicker]="startTo"> 
                            <button class="btn-min btn btn-link" type="button" (click)="f.startTo.setValue('');f.startFrom.setValue('')">
                              <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                        <ngx-material-timepicker #startTo [appendToInput]="true"></ngx-material-timepicker>
                      </div>
                    </mat-form-group>
                  </div>
                  <div class="form-group">
                    <label>Duration</label>
                    <input class="form-control col-4" matInput type="text" type="time"  formControlName="duration">
                  </div>
                  <div *ngIf="data.configuration.value?.length>0" class="form-group">
                    <mat-nav-list>
                      <label class="form-col-form-label">Options</label>
                      <mat-selection-list #options formControlName="options">
                        <mat-list-option *ngFor="let option of data.configuration.value" [value]="option._id">
                          {{option.desc}}
                        </mat-list-option>
                      </mat-selection-list>
                    </mat-nav-list>
                  </div>

                  <div class="form-group" *ngIf="f.locations.value?.length>0">
                    <label>Locations</label>
                    <ul class="list-group">
                      <li href="#" *ngFor="let option of data.locations; let i = index"
                        [ngClass]="{'hidden':f.locations.value.includes(option._id)==false}" (click)="goLocation(option)"
                        class="list-group-item list-group-item-action justify-content-between  d-flex ">
                        {{option.name}} <button (click)="f.locations.value.splice(option._id);"
                          class="btn btn-sm btn-danger">
                          <i class="fa fa-trash-o"></i> Remove location</button></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-map"></i> Select locations for this activity
                    <div class="card-header-actions">
                      <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button"
                          class="btn-min btn btn-block btn-link dropdown-toggle" aria-controls="dropdown-basic">
                          <i class="fa fa-align-justify"></i> <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                          aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" routerLink="/settings/locations/add" href="#">Add
                              location</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <perfect-scrollbar class="scroll-area-sm" [config]="config">
                      <ul class="list-group">
                        <li *ngFor="let option of data.locations; let i = index"
                          [ngClass]="{'hidden':f.locations.value.includes(option._id)==true}" (click)="goLocation(option)"
                          class="list-group-item list-group-item-action justify-content-between  d-flex ">
                          {{option.name}} <button (click)="f.locations.value.push(option._id);"
                            class="btn btn-sm btn-primary">
                            <i class="fa fa-plus-square-o"></i> Add location</button></li>
                      </ul>
                    </perfect-scrollbar>
                    <div class="card-body" *ngIf="center">
                      <agm-map [latitude]="center.lat" [longitude]="center.lng" (mapReady)="onMapReady($event)">
                      </agm-map>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Information about activities</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  Loading activity...
</ng-template>